:root {
    --clr-bg: #f8f5f2;
    --clr-ntrl-dk: #232323;
    --clr-ntrl-dk2: #222525;
    --clr-ntrl-lt: #fffffe;
    --clr-primary: #078080;
    --clr-secondary: #f45d48;
    --clr-tertiary: #f8f5f2;
}