@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

:root {
    /*

    BASE SIZE CONTROLS

    */

    --s-root: 1rem;
    --fs-root: calc(var(--s-root)*1);
    --sp-root: calc(var(--s-root)*1.1);
    --content-width: min(90%, 1600px);

    /*

    SPACING

    */
    
    --sp1: calc(var(--sp-root));
    --sp2: calc(var(--sp-root)*2);
    --sp3: calc(var(--sp-root)*3);
    --sp5: calc(var(--sp-root)*5);
    --sp10: calc(var(--sp-root)*10);

    --navBarTop-height: var(--sp3);
    --banner-height: calc(var(--sp10) * 2);
    --header-height: calc(var(--navBarTop-height) + var(--banner-height));
    

    /*

    COLORS

    */

    --clr-blk: black;
    --clr-wht: white;
    --clr-ntrl-dk: #56635C;
    --clr-ntrl-lt: #F2FFF8;
    --clr-highlight-lt: #3BFF93;
    --clr-highlight-lt-mask: #3bff93af;
    --clr-highlight-dk: #00873D;
    --clr-secondary: #AB005B;
    
    /* 
    
    FONTS

    */

    --ff-primary: 'Playfair Display', sans-serif;
    --ff-secondary: 'Open Sans', serif;

    --fw-p1: 400;
    --fw-p2: 500;
    --fw-p3: 600;
    --fw-p4: 700;
    --fw-p5: 800;

    --fw-s1: 300;
    --fw-s2: 400;
    --fw-s3: 500;
    --fw-s4: 600;
    --fw-s5: 700;
    --fw-s6: 800;

    --fs-h1: calc(var(--fs-root)*6);
    --fs-h2: calc(var(--fs-root)*4);
    --fs-h3: calc(var(--fs-root)*2.5);
    --fs-h4: calc(var(--fs-root)*1.8);
    --fs-p: calc(var(--fs-root)*1);
    --fs-link: calc(var(--fs-root)*1.1);


}